<!-- Art Section -->
<section id="venue">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1">
            <h3>About the Art</h3>
            <div class="row venue-row">
                <div class="col-md-8 col-sm-8 venue-col">
                    <div class="venue-elem-wrapper">
                        <div class="venue-elem image-section venue-big-elem venue-img animated hiding" data-animation="fadeIn" data-delay="0" style="background-image: url({{ site.baseurl }}/img/venue/{{ site.commonBigImage }})"></div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 venue-col venue-small-col">
                    <div class="venue-elem-wrapper col-md-12 col-sm-12 col-xs-6">
                        <div class="venue-elem image-section venue-small-elem venue-img animated hiding" data-animation="fadeIn" data-delay="150" style="background-image: url({{ site.baseurl }}/img/venue/{{ site.commonSmallImage1 }})"></div>
                    </div>
                    <div class="venue-elem-wrapper col-md-12 col-sm-12 col-xs-6">
                        <div class="venue-elem image-section venue-small-elem venue-img animated hiding" data-animation="fadeIn" data-delay="0" style="background-image: url({{ site.baseurl }}/img/venue/{{ site.commonSmallImage2 }})"></div>
                    </div>
                    <div class="venue-elem-wrapper col-md-12 col-sm-12 col-xs-6">
                        <div class="venue-elem image-section venue-small-elem venue-img animated hiding" data-animation="fadeIn" data-delay="0" style="background-image: url({{ site.baseurl }}/img/venue/{{ site.commonSmallImage2 }})"></div>
                    </div>
                    <div class="venue-elem-wrapper col-xs-6 visible-xs">
                        <div class="venue-elem image-section venue-small-elem venue-img animated hiding" data-animation="fadeIn" data-delay="0" style="background-image: url({{ site.baseurl }}/img/venue/{{ site.commonSmallImage3 }})"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Art Section -->

<!-- Art Section -->
<section id="venue">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1">
            <h3>Aron Rossman-Kiss</h3>
            <p>Aron Rossman-Kiss is a young visual artist based in Geneva. Using mainly 

analog photography, video and text, his current work focuses on sociopolitical and 

identity-related issues. In addition to his artistic work, he pursues studies in cultural 

Anthropology.</p>
            <div class="row venue-row">
                <div class="col-md-8 col-sm-8 venue-col">
                    <div class="venue-elem-wrapper">
                        <div class="venue-elem image-section venue-big-elem venue-img animated hiding" data-animation="fadeIn" data-delay="0" style="background-image: url({{ site.baseurl }}/img/venue/{{ site.art1BigImage }})"></div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 venue-col venue-small-col">
                    <div class="venue-elem venue-big-elem venue-text animated hiding" data-animation="fadeIn" data-delay="0">                            
                            <h5>About the work</h5>
                            
                            <p>“Transeuropean media route”  is a part of Borders’ land, an ongoing series of works started

in 2013 that deal with European borders and the complex realities produced by them. 

Through immersive fieldwork and the use of analog photography, it hopes to present a 

nuanced and holistic picture of these situations. Visually, the approach is an attempt to go 

beyond the conventional photo reportage and pays special attention to the geography – 

man made or natural – and hors champ surrounding the scenes.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Art Section -->

<!-- Art Section -->
<section id="venue">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1">
            <h3>Bissane Al Charif</h3>
            <p>Bissane Al Charif: born in Paris 1977. In 2001 she graduated from the 

faculty of  Architecture in Damascus university. Then studied Set 

Designing (Scenography) in the Department of Graduate Studies at the 

School of Architecture in Nantes and graduated in 2005. She was lucky to 

be guided and trained by passionate and experienced professors in 

theatre, cinema, exhibitions and museums designing. and  she tried  to use 

this different skills that She obtained from studying and works 

experiences in different art fields. 

this  background enables her to work on individual experiences such as 

designing exhibitions and artistic installation, or as a part of collective 

artists as a theatre designer. 

In 2005  bissane went back to Syria to  start working at Damascus Opera 

House as a scenographer. in the same time she created Scenography 

designes for big events and theatre Shows in Damascus; she also worked 

as a set decoration in many cinema movies. 

Bissane born in France for Palestinian parents and grown in Syria. This 

different culture sources enrich her artistic view, and gave her unique 

artistic vision appeared clearly in her working style. Which gave her the 

opportunity to work in middle east and Europe.

Since 2013, she lives in France and work as an independent scenographer 

and artist. And now she is working on artistic installation, called 

Memoire (S) des Femmes, "Women memories ", trying to develop her 

skills in the field of art-media.</p>
            <div class="row venue-row">
                <div class="col-md-8 col-sm-8 venue-col">
                    <div class="venue-elem-wrapper">
                        <div class="venue-elem image-section venue-big-elem venue-img animated hiding" data-animation="fadeIn" data-delay="0" style="background-image: url({{ site.baseurl }}/img/venue/{{ site.art2BigImage }})"></div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 venue-col venue-small-col">
                    <div class="venue-elem venue-big-elem venue-text animated hiding" data-animation="fadeIn" data-delay="0">
                            <h5>About the work</h5>
                            <p>WOMEN MEMORIES is the title of a documentary installation including videos, photographs and sound 

material. The project is based on documentations and memory, memory of people and places of memory.

The installation follows the journey of several displaced Syrian and Palestinian-Syrian women or rather 

exiled in Arab countries or in Europe, since the beginning of the Syrian crisis.

Women memories tell the story of the loss of a “home” and recount the painful journeys of these women. 

Questioning the time of departure, the road to the new place.

A project by Bissane Al Sharif, Image, sound, editing by Simon Pochet & Bissane Al Charif  with the artistic 

collaboration of Wael Ali.

Produced with the help of Inediz, British Council, Young Arab Theatre Fund, Ettijahat</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Art Section -->


<!-- Art Section -->
<section id="venue">
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1">
            <h3>Joel Bergner</h3>
            <p>
Joel Bergner (aka Joel Artista) is an artist, educator and organizer of public arts-based social action 

initiatives with youth and communities around the world. He works in acrylic and aerosol, creating 

elaborate paintings and public murals that explore social topics and reflect a wide array of artistic 

influences. Joel has facilitated community mural projects in refugee camps, juvenile detention centers, 

shantytowns and marginalized neighborhoods across the US, Latin America, Africa, Europe, India and 

the Middle East. For each project, he partners with local residents and organizations to give a platform to 

people in highly challenging circumstances to advocate for issues that are important to them, learn 

valuable skills and uplift their environment through public art. These projects have featured partnerships 

with dozens of local and international institutions, including UNICEF, Mercy Corps and the Open Society 

Initiative of Eastern Africa. His work has been published in several books and has been covered by 

various media outlets including Al Jazeera, NPR and Reuters. Joel is now partnering with fellow artist 

Max Frieder to found the Artolution, a network of community-based public art initiatives around the world 

led by local artists and educators, communicating with one another through the arts. Joel was raised in 

central Illinois and is currently based in Brooklyn, New York. He enjoyed art from a young age, but also 

pursued his interest in community work, leading him to positions working with the mentally ill, the 

homeless and as a counselor for youth in treatment for emotional disturbance. Over time, he 

experimented with ways to bring his two passions together, leading to his current direction.</p>
            <div class="row venue-row">
                <div class="col-md-8 col-sm-8 venue-col">
                    <div class="venue-elem-wrapper">
                        <div class="venue-elem image-section venue-big-elem venue-img animated hiding" data-animation="fadeIn" data-delay="0" style="background-image: url({{ site.baseurl }}/img/venue/{{ site.art3BigImage }})"></div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4 venue-col venue-small-col">
                    <div class="venue-elem venue-big-elem venue-text animated hiding" data-animation="fadeIn" data-delay="0">
                            <h5>About the work</h5>
                            <p>Visit Joel’s 

website www.joelartista.com to check out photos, videos and stories from his global projects.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- End Art Section -->
