<!-- Begin Twitter Feed Section -->
<section id="twitter-feed" class="twitter-feed image-section parallax" style="background-image: url({{ site.baseurl }}/img/sections-background/{{ site.tweetsFeedImage }});">
    <div class="overlay solid-overlay"></div>
    <div class="content-wrapper">
        <div class="col-md-8 col-md-offset-2">
            <ul class="social-links">
				{% for social in site.socialLinks %}
				<li>
					<a href="{% if social.permalink != null %} {{ social.permalink | prepend: site.baseurl }} {% else %} {{ social.link }} {% endif %}" target="_blank">
						<svg class="icon icon-{{ social.icon }}" viewBox="0 0 30 32">
							<use xlink:href="{{ site.baseurl }}/img/sprites/sprites.svg#icon-{{ social.icon }}"></use>
						</svg>
					</a>
				</li>
				{% endfor %}
			</ul>
            <h3>{{ site.tweetsFeedTitle }} <a href="https://twitter.com/search?q=%23{{ site.twitterHashTag }}" target="_blank">#{{ site.twitterHashTag }}</a>
            </h3>
            <div id="tweets" class="tweets"></div>
        </div>
    </div>
</section>
<!-- End Twitter Feed Section -->
